.cssywfdku {
    padding: 1.5rem 1rem;
    margin-left: 3rem;
    margin-right: 3rem;
    margin-bottom: 2.5rem;
    text-align: left;
    background-color: #fff;
    border-width: 1px;
    border-radius: 0.5rem;
    border-style: solid;
    border-color: rgb(229 231 235)
}

.css12megap {
    margin-bottom: 1rem;
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-weight: 700;
    letter-spacing: 0.05em;
    text-align: center;
    color: rgb(75, 85, 99);
    text-transform: uppercase
}

.css1mvdr8b {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    color: rgb(17, 17, 17);
    max-width: 70ch;
    font-size: 1rem;
    line-height: 1.75;
    overflow-wrap: break-word;
}

;

.css1wvnygz {  
    padding: 3rem 2.5rem;
    margin-top: -1px;
    text-align: center;
    color: rgba(31, 41, 55);
    background-color: rgb(125, 125, 125);
    border-top-width: 1px
}